/* You can add global styles to this file, and also import other style files */

* {
  font-family: "Dosis";
}

body {
  max-width: 100%;
}

#mainPage {
  background-color: #D7FAAB;
} 

h3 {
  color: #006B3D;
}

label {
  font-weight: bold;
}

a:link {
  color: #BE004A;
}

a:visted {
  color: #C23700;
}
