<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-6 form-group">
      <label>First Name:</label>
      <input name="firstName" class="form-control" type="text" formControlName="firstName">
    </div>
    <div class="col-6 form-group">
      <label>Last Name:</label>
      <input name="lastName" class="form-control" type="text" formControlName="lastName">
    </div>
  </div>

  <div class="form-group">
    <label>Address Line 1: </label>
    <input name="addressOne" class="form-control" type="text" formControlName="addressOne">
  </div>
  <div class="form-group">
    <label>Address Line 2:</label>
    <input name="addressTwo" class="form-control" type="text" formControlName="addressTwo">
  </div>

  <div class="row">
    <div class="col-6 form-group">
      <label>City:</label>
      <input name="city" class="form-control" type="text" value="Ottawa" formControlName="city">
    </div>
    <div class="col-6 form-group">
      <label>Province:</label><br />
      <select formControlName="province">
      <option *ngFor="let province of provinces">{{province}}</option>
		  </select>
    </div>
  </div>

  <div class="row">
    <div class="col-6 form-group">
      <label>Postal Code:</label>
      <input name="postalCode" class="form-control" type="text" placeholder="K1K 1K1" formControlName="postalCode">
    </div>
    <div class="col-6 form-group">
      <label>Phone:</label>
      <input name="phone" class="form-control" type="tel" placeholder="613-555-5555" formControlName="phone">
    </div>
  </div>

  <fieldset class="form-group">
    <legend>Share Size:</legend>
    <div class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" formControlName="shareSize" name="shareSize" id="fullShare" value="fullShare" checked>
        Full Share ($600)
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" formControlName="shareSize" name="shareSize" id="halfShare" value="halfShare">
        Half Share ($350)
      </label>
    </div>
  </fieldset>

  <div class="form-group">
    <label for="pickUpLocation">Pick Up Location:</label>
    <select class="form-control" id="pickUpLocation" formControlName="pickUpLocation">
      <option *ngFor="let location of pickUpLocations" [value]="location">{{location}}</option>
    </select>
  </div>

  <div class="form-group">
    <label for="emailInput">Email address</label>
    <input type="email" class="form-control" id="emailInput" aria-describedby="emailHelp" placeholder="Enter email" formControlName="email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div formGroupName="passwords">
    <label>Password:</label>
    <input type="password" class="form-control" placeholder="Password" formControlName="password"><br>
    <label>Confirm Password:</label>
    <input type="password" class="form-control" placeholder="Confirm Password" formControlName="confirmPassword"><br>
  </div>
  <div>
    <button type="submit" [disabled]="!form.valid">Sign Up</button><br>
  </div>
</form>
