<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div>
    <label>First Name:</label>
    <input name="firstName" type="text" formControlName="firstName">
    <label>Last Name:</label>
    <input name="lastName" type="text" formControlName="lastName">
  </div>
  <div>
    <label>Address Line 1: </label>
    <input name="addressOne" type="text" formControlName="addressOne">
    <label>Address Line 2:</label>
    <input name="addressTwo" type="text" formControlName="addressTwo">
  </div>
  <div>
    <label>City:</label>
    <input name="city" type="text" value="Ottawa" formControlName="city">
    <label>Province:</label>
    <select formControlName="province">
      <option *ngFor="let province of provinces">{{province}}</option>
		</select>
  </div>
  <div>
    <label>Postal Code:</label>
    <input name="postalCode" type="text" placeholder="K1K 1K1" formControlName="postalCode">
    <label>Phone:</label>
    <input name="phone" type="tel" placeholder="613-555-5555" formControlName="phone">
  </div>
  <div>
    <label>Share Size:</label>
    <label><input type="radio" formControlName="shareSize" value="halfShare">Half Share ($350)</label>
    <label><input type="radio" formControlName="shareSize" value="fullShare">Full Share ($600)</label>
  </div>
  <div>
    <label>Pick Up Location:</label>
    <select formControlName="pickUpLocation">
      <option *ngFor="let location of pickUpLocations" [value]="location">{{location}}</option>
		</select>
  </div>
  <div>
    <label>Email:</label>
    <input name="email" type="email" placeholder="yourname@email.com" formControlName="email">
  </div>
  <div formGroupName="passwords">
    <label>Password:</label>
    <input type="password" placeholder="Password" formControlName="password"><br>
    <label>Confirm Password:</label>
    <input type="password" placeholder="Confirm Password" formControlName="confirmPassword"><br>
  </div>
  <div>
    <button type="submit" [disabled]="!form.valid">Sign Up</button><br>
  </div>
</form>
