<div id="mainPage">
  <div class="container">
    <div id="csaInfo">
      <div>
        <h2>2017 CSA</h2>
      </div>
      <p>Our CSA is the main focus at Pachamama Organics. We are so excited to provide you with weekly deliveries of our fresh,
        delicious veggies! The CSA runs from early June until the end of October. We offer a full share or a half share.
        The full share is a whole bunch of delicious veggies, ideal for a family or group of people looking to add regular
        organic veggies to their daily menu. The half share is exactly what it sounds like: half of that – enough for one
        or two people. You can sign up below – you will receive an email back from us within the day! Or send any inquiries
        to cailyn@pachamamaorganics.ca Prices: Full Share – $600 Half Share – $350</p>
    </div>
    <div id="signUpFormWrapper" class="container">
      <h3 id="signUp">Sign Up</h3>
      <p> For more information <a href="#">product page</a>.</p>
      <app-csa-sign-up></app-csa-sign-up>
    </div>
  </div>
</div>
