#imageBanner {
  padding-bottom: 1em;
  text-align: center;
}

#signUpFormWrapper {
  max-width: 80%;
  min-width: 320px;
  border-radius: 25px;
  padding: 2em;
  background-color: #ffffff;
}

#csaInfo {
  padding: 1em;
}
